body {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 16fr;
}
.container > div {
  height: 100vh;
}
.taskbar {
  background-color: #282828;
  color: #ffffff;
}
.task {
  background-color: #f4f5f7;
}
.content-container {
  display: grid;
  grid-template-rows: 1fr 7fr;
}
.content-container > div {
  border: 1px solid black;
}
